.info-container{
    position: relative;
    width: 790px;
    height: 100px;
    left: 335px;
    top: 0px;
    display: flex;
    object-fit: cover;
    
   
   text-align: center;
   text-indent: 10px;
   text-size-adjust: unset;
}

.alice-carousel ul li img{
    position: relative;
    width: 758px;
    height: 300.38px;
    margin-bottom: 25px;
    left: 335px;
    top: 25px;
    display: flex;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50px 50px 50px 50px;


}