.principal-container{
    margin: 0 auto;
    width: 50%; /* Valor da Largura */
}

.adocao-container{
    position: absolute;
    width: 790px;
    height: 500px;
    left: 335px;
    top: 80px;
    display: flex;
    border-radius: 50px 50px 50px 50px;

}

.topo-retangulo-container{
    position: absolute;
    width: 790px;
    height: 158.43px;
    right: 315px;
    left: 0.1px;
    bottom: 459.57px;
    justify-content: center;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px 50px 0px 0px
    
    
}

.topo-retangulo-container h1{
    color: aliceblue;
    text-align: center;
    
}
.topo-retangulo-container h2{
    color: aliceblue;
    text-indent: 10px;
    
}

.abaixo-retangulo-container{
    position: absolute;
    width: 790px;
    height: 80.72px;
    right: 315px;
    left: 0.1px;
    bottom: 63.12px;
    justify-content: center;
    top: 420px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 50px 50px
}

img {
    border: 1px solid black;
    width: 100%;
    border-radius: 50px 50px 50px 50px
}

